*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
header{
  width: 100%;
  background-color: #111;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
:root{
  --bg:#ffffff;
  --text:#111111;
  --link:#000;
  --nav-bg:#f3f4f6f0;
  --bigcon-bg:#f9fafb;
  --skills-bg:#e5e7eb;
  --skills-text:#111;
  --skills-hover-bg:#2563eb;
  --skils-hover-text:#fff;
  --btn-bg:#2563eb;
  --btn-text:#fff;
  --btn-hover-bg:#1d4ed8;
  --btn-hover-text:#fff;
}
[data-theme="dark"]{
  --bg:#0f172a;
  --text:#e5e7eb;
  --link:#fff;
  --nav-bg:#1e293b;
  --bigcon-bg:#011d45c1;
  --skills-bg:#1e293b;
  --skills-text:#fff;
  --skills-hover-bg:#3b82f6;
  --skills-hover-text:#fff;
  --btn-bg:#3b82f6;
  --btn-text:#111;
  --btn-hover-bg:#60a5fa;
  --btn-hover-text:#111;

}
body{
  background-color:#1e293b;
  color: var(--text, #fff);
  font-family:system-ui, sans-serif;
  line-height: 1.5;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 1200px;
  margin: auto;
}
nav .btn{
  text-decoration: none;
}
.nav-links{
  display: flex;
  list-style: none;
}
.menu-toggle {
    display: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}
.nav-links li{
  padding: 20px;
  font-size: 20px;
}
.nav-links li a{
  text-decoration: none;
  color: #fff;
}.k0{
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-links li a:hover{
  color: #00bfff;
}
.bigcon{
  width: 100%;
  min-height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;   
  color: #fff;
}
.k6{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url(IMG/k1.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.smallcon{
  width: 500px;
  height: 300px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.k5{
  font-size: 12px;
  color: #ec5b53;
}
.k4{
  font-size: 25px;
  font-weight: bold;
  font-family: 'Arial Narrow', sans-serif;
}
.text{
  width: 400px;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
}
.slide-wrap {
  position: relative;
  display: inline-block;
  height: 1.6em;
  min-width: 280px;
  overflow: hidden;
  vertical-align: bottom;
}
.slide {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transform: translateY(120%);
  transition: transform 0.6s ease, opacity 0.6s ease;
  white-space: nowrap;
  color: blue;
}
.slide.active {
  opacity: 1;
  transform: translateY(0);
}
.kess2{
    max-width: 600px;
    background-color:#1e293b;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding-top: 30px;
}

.k1{
    width: 200px;
    height: 200px;
    border-radius: 12px;
    object-fit: cover;
    position: relative;
    top: -20px;
    margin: auto;
}
.k2{
    margin-left: 20px;
    position: relative;
    top: -30px;
    font-size: 25px;
    font-weight: 600;
    padding: 1px;
}
.k3{
    margin-left: 10px;
    font-size: 1.1rem;
    position: relative;
    top: -25px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-family: 'Arial Narrow', sans-serif;
    padding: 10px;
}
.k4{
    margin-left: 10px;
    font-size: 1.1rem;
    position: relative;
    bottom: 25px;
    color:#fff ;
    text-align: center;
    padding: 10px;
}
.k5{
    margin-left: -120px;
    font-size: 14px;
    position: relative;
    top: -20px;
}
.hire-btn{
  width: 100px;
  padding: 12px;
  background-color:var(--btn-bg);
  color:var(--btn-text);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: none;
}
.smallcon a{
  text-decoration: none;
}
#bigcon1{
  width: 100%;
  height:500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
 
}
.about-section {
  color: var(--text);
  padding: 80px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.about-title {
  font-size: 32px;
  margin-bottom: 30px;
  color: #fff;
}

.about-text {
  max-width: 700px;
  margin: 0 auto 20px auto;
  line-height: 1.7;
  font-size: 16px;
  color: #ffff;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 30px 0;
  list-style: none;
  padding: 0;
}

.skills li {
  background-color: var(--skills-bg);
  color: var(--skills-text);
  padding: 10px 15px;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.skills li:hover {
  background-color: var(--skills-hover-bg);
  color:#fff;
  cursor: default;
}

.me-btn {
  padding: 12px;
  width: 100px;
  text-decoration: none;
  background: var(--btn-bg);
  margin-left: 300px;
  color: var(--btn-text);
  border: none;
  border-radius: 6px;
}
.me-btn{
  opacity: 0.85;
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-text);
}

.hire-btn:hover {
  opacity: 0.85;
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-text);
}
.smallcon1{
  width: 400px;
  height: 400px;
  background-image: url(IMG/k2.jpeg);
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 10px;
}
#service2{
  padding: 80px 20px;
  color: #fff;
}
.bigcon2{
  max-width: 1100px;
  margin: 0 auto;
}
.section{
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 10px;
  
}
.title{
  text-align: center;
  color: #94a3b8;
  margin-bottom: 50px;
  font-size: 25px;
}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}
.services{
  background-color: #020617;
  padding: 30px;
  border-radius: 16px;
  transition:opacity 0.6s ease, transform 0.6s ease;
  transform: translateY(30px);
  border: 1px solid rgba(255,255,255,0.05);
  opacity: 0;
}
.services.show{
  opacity: 1;
  transform: translateY(0);
}
.services h3{
  font-size: 1.2rem;
  margin-bottom: 12px;
  color:#38bdf8;
}
.services p{
  font-size: 0.95rem;
  line-height: 1.6;
  color: #cbd5f5;
}
#skills{
  padding: 50px;
}
#skills h2{
  text-align: center;
  padding: 20px;
  color: #fff;
}
.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    color: #fff;
}
.skill-level{
  height: 100%;
  width: 0;
  background:linear-gradient(90deg,#4facfe,#00f2fe);
  border: 10px;
  transition: width 1.5s ease-in-out ;
}
.skill h3 {
    margin-bottom: 0.5rem;
}
.skill-bar {
    background: #eee;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height: 12px;
}
.skill-level {
    height: 12px;
    background: #00bfff;
    border-radius: 6px;
}
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    padding: 40px;
}
.project-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s;
}
.project-card:hover {
    transform: scale(1.05);
}
.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
#projects h2{
  text-align: center;
  color: #fff;
}
.project-card h3 {
    margin: 1rem 0 0.5rem;
}
.project-card p {
    padding: 0 1rem 1rem;
}

.scroll-reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.scroll-reveal.active {
  opacity: 1;
  transform: translateY(0);
}


.fade-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.8s ease-out;
}

.fade-left.active {
  opacity: 1;
  transform: translateX(0);
}

.fade-right {
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.8s ease-out;
}

.fade-right.active {
  opacity: 1;
  transform: translateX(0);
}

.zoom {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.8s ease-out;
}

.zoom.active {
  opacity: 1;
  transform: scale(1);
}
#contact{
  margin-bottom: 50px;
}
#contact h2{
  text-align: center;
  padding: 50px;
  font-size: 30px;
  color: #fff;
}
form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: auto;
}
form input, form textarea{
  padding: 0.8rem;
  border: 1px solid #ccc;
  background-color: #0f172a;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
}
form input, form textarea:focus{
  outline: none;
}
form button{
  padding: 0.8rem;
  border: none;
  background: #00bfff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}
form button a{
  text-decoration: none;
  color: white;
}
.footer {
  background: #0f172a; /* dark blue */
  color: #cbd5f5;
  padding: 4rem 2rem 2rem;
  margin-top: 50px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2.5rem;
}

.footer h3,
.footer h4 {
  color: #fff;
  margin-bottom: 1rem;
}

.footer p {
  font-size: 0.9rem;
  line-height: 1.6;
}

.footer a {
  color: #cbd5f5;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #38bdf8;
  text-decoration: underline #38bdf8;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.social-icons a {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.footer-bottom {
  margin-top: 3rem;
  text-align: center;
  border-top: 1px solid #1e293b;
  padding-top: 1.5rem;
  font-size: 0.85rem;
}

@media (max-width: 768px) {
  html,body{
    overflow-x: hidden;
  }

  header {
    width: 100%;
  }
  nav .btn{
    display: none;
  }
  nav {
    width: 100%;
    height: 60px;
    padding: 0 16px;
  }

  .menu-toggle {
    display: block;
    z-index: 1100;
    color: #fff;
  }

  .nav-links {
    position: fixed;
    inset: 0;
    background: #111;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;

  }

  .nav-links.active {
    transform: translateX(0);
  }

  .nav-links li {
    margin: 1.2rem 0;
    font-size: 1.3rem;
  }

  .bigcon {
    width: 90%;
    text-align: center;
    margin: auto;
  }
  .kess2{
    border: 2px solid gray;
    margin: auto;
    border-radius: 12px;
    background-color: #1e293b;
    color: #fff;
    margin-top: 0;
  }

  .k6 {
    width: 220px;
    height: 220px;
  }

  .smallcon {
    width: 100%;
    height: auto;
    margin: 0;
    text-align: start;
  }

  .text {
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
  }
  .k4{
    font-size: 1.1rem;
    color: #fff;
  }

  #bigcon1 {
    flex-direction: column;
    height: auto;
    gap: 30px;
    border: 2px solid gray;
    width: 90%;
    margin: auto;
    border-radius: 12px;
    background-color: #1e293b;
  }

  .smallcon1 {
    width: 85%;
    height: 300px;
    margin: 0;
    border: 8px solid#111;
    position: fixed;
  }
  #service2{
    width: 90%;
    border: 2px solid gray;
    margin: auto;
    border-radius: 12px;
    background-color: #1e293b;
  } 
  #skills{
    width: 90%;
    border: 2px solid gray;
    margin: auto;
    border-radius: 12px;
    background-color: #1e293b;
  }
  #projects{
    width: 90%;
    border: 2px solid gray;
    margin: auto;
    border-radius: 12px;
    background-color: #1e293b;
    padding-top: 30px;
  }
  #contact{
    width: 90%;
    border: 2px solid gray;
    margin: auto;
    border-radius: 12px;
    background-color: #1e293b;
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .about-text {
    padding: 0 10px;
  }

  .me-btn {
    margin: 20px auto 0;
    display: block;
  }


  .grid {
    grid-template-columns: 1fr;
  }

  #skills {
    padding: 30px 16px;
  }

  .skills-container {
    grid-template-columns: 1fr;
  }

  .projects-container {
    grid-template-columns: 1fr;
    padding: 20px 16px;
  }

  .project-card img {
    height: 180px;
  }


  form {
    width: 100%;
    padding: 0 16px;
  }

  
  .footer {
    padding: 3rem 1.5rem 2rem;
    text-align: center;
  }

  .footer-container {
    grid-template-columns: 1fr;
  }

  .social-icons {
    justify-content: center;
  }
}